<div class="jumbotron">
    <h1 class="display-4">Restaurar!</h1>
    <div class="container-fluid">
        <form action="/restaurar" method="post">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
